
code/.ipynb_checkpoints/chap01mine-checkpoint.ipynb
code/.ipynb_checkpoints/chap02mine-checkpoint.ipynb
code/.ipynb_checkpoints/chap03mine-checkpoint.ipynb
code/.ipynb_checkpoints/chap04mine-checkpoint.ipynb
code/.ipynb_checkpoints/chap05mine-checkpoint.ipynb
code/.ipynb_checkpoints/chap07mine-checkpoint.ipynb
code/.ipynb_checkpoints/chap08-checkpoint.ipynb
code/.ipynb_checkpoints/chap08mine-checkpoint.ipynb
code/.ipynb_checkpoints/chap09mine-checkpoint.ipynb
code/.ipynb_checkpoints/chap09sympy-checkpoint.ipynb
code/.ipynb_checkpoints/pHandDyingRoughDraft-checkpoint.ipynb
code/.ipynb_checkpoints/queue-checkpoint.ipynb
code/.ipynb_checkpoints/testing-checkpoint.ipynb
code/__pycache__/modsim.cpython-36.pyc
